* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --bg-input: #F6F6F6;
    --bg-button-submit: #45FEFE;
    --font-color__placeholder: #BDBDBD;
    --font-color__checkbox: #666666;
    --border-color: #E8E8E8;

}

body {
    background-color: white;

}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}


.container__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-bottom: 3.2rem;
    margin-top: 4rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.form-input {
    width: 28rem;
    height: 5rem;
    padding-left: 1rem;

    background-color: var(--bg-input);

    border: 1px solid var(--border-color);
    border-radius: 1rem;
}

.container__check-box {
    display: flex;
    align-items: center;
    gap: .5rem;

    cursor: pointer;

    margin-left: 2rem;
    margin-bottom: 2.2rem;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--font-color__checkbox);

}

.container__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;

    cursor: pointer;

}

.btn-submit {
    width: 28rem;
    height: 4rem;

    background-color: var(--bg-button-submit);

    border: none;
    border-radius: 100px;

    cursor: pointer;

}

.btn-info {
    width: 28rem;
    height: 4rem;

    background-color: white;

    border: 4px solid var(--bg-button-submit);
    border-radius: 100px;

    cursor: pointer;
}