* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: white;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.9rem;

    margin-top: 1.8rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    width: 9.5rem;
    height: 9.5rem;

    border-radius: 1rem;
}


.container-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 2.1rem;
}

.input-text {
    width: 24rem;
    height: 4rem;

    border: none;
    border-radius: 2rem;

    background-color: #F6F6F6;

    padding: 2rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;

    margin: 0 auto;

}

.result {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.block {
    width: 5rem;
    height: 5rem;

    background-color: #F6F6F6;
    border-radius: 1rem;
}

.line {
    background-color: #E8E8E8;
    width: 25rem;
    height: .5px;

    margin-left: 1.5rem;
}