* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 34rem;
    height: 29rem;

    background-color: white;

    border-radius: 1rem;

    z-index: -1;

    margin-top: 16rem;


    position: relative;

}

.container-img {
    width: 9.5rem;
    height: 9.5rem;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    border: .3rem solid #45FEFE;

    position: absolute;
    top: 9rem;


    z-index: 1;

}

.container-img>img {
    width: 8.5rem;
    height: 8.5rem;

}

.section__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.section__info>h1 {
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-size: 3rem;
}

.section__info>p {
    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    color: #666666;

}

#btn-register {
    width: 31rem;
    height: 5rem;

    background-color: #45FEFE;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;

    border: none;
    border-radius: 1.5rem;
}

.btn-history {
    width: 31rem;
    height: 5rem;

    border: 5px solid #45FEFE;
    border-radius: 1.5rem;

    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}